<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>y云盘</title>
    <link rel="stylesheet" th:href="@{/layui-v2.4.5/layui/css/layui.css}" media="all">
    <script type="text/javascript" th:src="@{/common/lib/jquery-1.9.0.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
</head>
<body>
<ul class="layui-nav layui-nav-tree" lay-filter="test">
    <li class="layui-nav-item"><a href="">全部</a></li>
    <li class="layui-nav-item"><a href="">文档</a></li>
    <li class="layui-nav-item"><a href="">图片</a></li>
    <li class="layui-nav-item"><a href="">视频</a></li>
    <li class="layui-nav-item"><a href="">压缩包</a></li>
    <li class="layui-nav-item"><a href="">共享文件</a></li>
    <li class="layui-nav-item"><a href="">回收站</a></li>
</ul>

</body>
</html>