<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/bootstrap/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/bootstrap-table/bootstrap-table.css}" rel="stylesheet">
    <link th:href="@{/jsTree/themes/default/style.css}" rel="stylesheet">
    <link th:href="@{/cron/cronGen.css}" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" th:src="@{/jsTree/jstree.js}"></script>
    <script type="text/javascript" th:src="@{/js/cronParse.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layer.js}"></script>
    <script type="text/javascript" th:src="@{/laydate/laydate.js}"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/cron/cronGen.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-table/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-table/bootstrap-table-zh-CN.js}"></script>
</head>
<body>
<form class="form-horizontal">
    <p class="h4">0表示当天-1表示前一天以此类推且均<=0,多个用逗号分割</p>
    <div class="form-group">
        <label for="singleDate" class="col-sm-2 control-label">单个日期</label>
        <div class="col-sm-5">
            <input type="text" name="singleDate" class="form-control" id="singleDate" >
        </div>
    </div>
    <div class="form-group">
        <label for="start" class="col-sm-2 control-label">从第</label>
        <div class="col-xs-1">
           <input type="text" class="input-sm form-control" id="start">
        </div>
        <label for="start" class="col-sm-2 control-label">天，到</label>
        <div class="col-xs-1">
            <input type="text" class="input-sm form-control" id="end">
        </div>
        <label for="end" class="col-sm-1 control-label">天</label>

    </div>

</form>
    <div style="text-align: center">
        <button type="button" class="btn   btn-primary " id="submit">提交</button>
    </div>

</body>
<script>

    var isEdit=false;
    var url=window.location.href;
    var editId='';
    var status;
    if(url.indexOf("?")!=-1){
        isEdit=true;
        var para=url.substring(url.indexOf("?"));
        editId =para.substring(4);
        $.getJSON("/dateInterval/"+editId,function (result,state) {
            if(state=='success'){
                var data=result.data;

                console.log(data);
                if(result.code=='00'){
                    status=data.status;
                    $('#singleDate').val(data.singleDate);
                    if(data.dateRange!=null&&data.dateRange!=""){
                        var arr=data.dateRange.split(",");
                        $("#start").val(arr[0]);

                        $("#end").val(arr[1]==0?'0':arr[1]);
                    }
                }
            }
        })
    }
    $('#submit').click(function () {
        var data={
            singleDate:$('#singleDate').val()
        }
        if($('#start').val()!=''&&$('#end').val()!=''){
            data.dateRange=$('#start').val()+','+$('#end').val();
        }else{
            data.dateRange='';
        }
        if(isEdit){
            data.id=editId;
            data.status=status;
        }
        $.post("/dateInterval/saveOrUpdate",data,function (result,state) {
            if(state=='success'){
                if(result.code=='00'){
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index);
                    parent.refresh();
                    parent.layer.msg("添加成功!",{icon:6,time:1000});

                }
            }else{
                layer.msg("添加失败!",{icon:5,time:1000})
            }
        })
    });


</script>

</html>