<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/bootstrap/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/bootstrap-table/bootstrap-table.css}" rel="stylesheet">
    <link th:href="@{/jsTree/themes/default/style.css}" rel="stylesheet">
    <link rel="stylesheet"  th:href="@{/select/bootstrap-select.css}" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" th:src="@{/jsTree/jstree.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/select/bootstrap-select.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-table/bootstrap-table.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-table/bootstrap-table-zh-CN.js}"></script>
</head>
<body>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="groupName" class="col-sm-2 control-label">组名</label>
            <div class="col-sm-4">
                <input type="text" name="groupName" class="form-control" id="groupName" >
            </div>
            <label for="className" class="col-sm-2 control-label">类名</label>
            <div class="col-sm-4">
                <input type="text" name="className" class="form-control" id="className" >
            </div>
        </div>
        <div class="form-group" >
            <label for="methodName" class="col-sm-2 control-label">方法名</label>
            <div class="col-sm-4">
                <input type="text" name="methodName" class="form-control" id="methodName" >
            </div>
            <label for="param" class="col-sm-2 control-label">参数</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="param"  name="param">
            </div>
        </div>

    </form>
    <div style="text-align: center">
        <button type="button" class="btn   btn-primary " id="submit">提交</button>
    </div>

</div>
</body>
<script>
    var isEdit=false;
    var url=window.location.href;
    var editId='';
    var status;
    $('.selectpicker').selectpicker('render');
    if(url.indexOf("?")!=-1){
        isEdit=true;
        var para=url.substring(url.indexOf("?"));
        editId =para.substring(4);
        $.getJSON("/taskEntity/"+editId,function (result,state) {
            if(state=='success'){
                var data=result.data;
                if(result.code=='00'){
                    status=data.status;
                    $('form').setValue(data);

                }
            }
        })
    }
    $('#select').change(function () {
        if($(this).val()==2){
            $('#form-port').hide();
        }else{
            $('#form-port').show();
        }
    });
    $('#submit').click(function () {
        var data=$('form').serializeObject();
        if(editId!='') {
            data.id = editId;
            data.status = status;
        }
        console.log(data);
        $.post("/taskEntity/saveOrUpdate",data,function (result,status) {
            if(status=='success'){
                if(result.code=='00'){
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index);
                    parent.refresh();
                    parent.layer.msg("添加成功!",{icon:6,time:1000});

                }
            }
        })
    })

</script>

</html>